nav{
    border:1px solid rgba(57, 34, 4, 0.89);
}

.div-header{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-option{
    width:auto;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;

}

.div-png{
    height: 65px;
    width: 70px;
    padding: 0px 0px;
}
